body {
	background-color: #d6f0fa;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

#cabecalho {
	text-align: right;
	padding: 5px;
}

#logo {
	width: 100px;
}

h2 {
	color: #002244;
	text-align: center;
}

#tabela-psicologo {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

#tabela-psicologo thead th {
	background-color: #247ba0;
	color: rgb(255, 255, 255);
	padding: 10px;
	text-align: left;
	border: 1px solid #000000;
}

#tabela-psicologo tbody td {
	padding: 8px;
	border: 1px solid #000000;
	
}

.coluna-acoes {
	text-align: center;
}

.botao-excluir {
	background-color: #690101;
	border: none;
	padding: 5px;
	margin: 8px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
}

.botao-editar{
	background-color: #885002;
	border: none;
	padding: 5px;
	margin: 8px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
}

.botao-excluir:hover {
	background-color: #e74c3c;
}

.botao-editar:hover {
	background-color: #f39c12;
}

#botao-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #85B7CC;
    color: #001f3f;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

#botao-voltar:hover {
    background-color: #67A3BD;
    color: white;
}

