body {
	background-color: #d6f0fa;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

#cabecalho {
	text-align: right;
	padding: 5px;
}

#logo {
	width: 100px;
}

h2 {
	color: #002244;
	text-align: center;
}

#tabela-visitas {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

#tabela-visitas thead th {
	background-color: #247ba0;
	color: rgb(255, 255, 255);
	padding: 10px;
	text-align: left;
	border: 1px solid #000000;
}

#tabela-visitas tbody td {
	padding: 8px;
	border: 1px solid #000000;
	
}

.coluna-acoes {
	text-align: center;
}

.botao-excluir {
	background-color: #690101;
	border: none;
	padding: 5px;
	margin: 8px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
}

.botao-editar{
	background-color: #885002;
	border: none;
	padding: 5px;
	margin: 8px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
}

.botao-excluir:hover {
	background-color: #e74c3c;
}

.botao-editar:hover {
	background-color: #f39c12;
}
